body {
}

.imgSize {
    background-color: transparent;
    width: 150px;
    height:auto;
  

}

/*table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #00ffff
}

th {
    background-color: blue;
    color: white;
}*/

/*#demo {
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 5px 5px rgba(63,136,239,0), 5px 5px 5px 5px rgba(63,136,239,0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 5px 5px rgba(63,136,239,0), 5px 5px 5px 5px rgba(63,136,239,0);
}*/

#demo {
    -webkit-box-shadow: 5px 5px 15px 5px #29C9FF;
    box-shadow: 5px 5px 15px 5px #29C9FF;
}

.header {
    padding: 60px;
    text-align: center;
    background: rgba(182, 182, 182, 0.92);
    color: white;
    font-size: 30px;
}

.navbar {
    padding: 15px;
    text-align: center;
    background: #1DC7EA;
    color: white;
    font-size: 30px;
}

.demo {
    -webkit-box-shadow: 5px 5px 15px 5px #29C9FF;
    box-shadow: 5px 5px 15px 5px #29C9FF;
}

.site-header.featured-image .entry-title {
    color: white;
}