body {
}

.imgSize {
    background-color: transparent;
    width: 150px;
    height:auto;
  

}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #00ffff
}

th {
    background-color: blue;
    color: white;
}

#demo {
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 5px 5px rgba(63,136,239,0), 5px 5px 5px 5px rgba(63,136,239,0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 5px 5px rgba(63,136,239,0), 5px 5px 5px 5px rgba(63,136,239,0);
}