body {
}

.imgSize {
    background-color: transparent;
    width: 150px;
    height:auto;
  

}

/*table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #00ffff
}

th {
    background-color: blue;
    color: white;
}*/

/*#demo {
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 5px 5px rgba(63,136,239,0), 5px 5px 5px 5px rgba(63,136,239,0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 5px 5px rgba(63,136,239,0), 5px 5px 5px 5px rgba(63,136,239,0);
}*/

#demo {
    -webkit-box-shadow: 5px 5px 15px 5px #29C9FF;
    box-shadow: 5px 5px 15px 5px #29C9FF;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1DC7EA;
    color: white;
    font-size: 30px;
}


.navbar {
    padding: 15px;
    text-align: center;
    background: #1DC7EA;
    color: white;
    font-size: 30px;
}

.demo {
    -webkit-box-shadow: 5px 5px 15px 5px #29C9FF;
    box-shadow: 5px 5px 15px 5px #29C9FF;
}
#demotext {
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), -27px 14px 9px #000000;
    color: #FFFFFF;
    background: #1DC7EA;
}





#monthlyOut {
    font-size: 30px;
    font-weight: bold;
}

#outputs {
    font-size: 20px;
}

input, textarea, select, button {
    width: 30%;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
}

#table {
    height: 350px;
    overflow: auto;
}

.btn {
    width: 95%;
    height: 50px;
    margin-top: 28px;
}
